[user]
	name = Szymon Cader
	email = "{{ .email }}"
[core]
	editor = nvim
[merge]
	tool = vimdiff
[push]
	default = simple
	autoSetupRemote = true
[pushh]
	default = simple
[pull]
	default = simple
[credential]
	helper = store
