export VIRTUALENVWRAPPER_PYTHON=~/.local/share/mise/installs/python/3.11.9/bin/python
export PROJECT_HOME={{ .chezmoi.homeDir }}/PycharmProjects
export PIPX_DEFAULT_PYTHON=~/.local/share/mise/installs/python/3.11.9/bin/python
export DOCKER_BUILDKIT=1
export COMPLETION_WAITING_DOTS=true
export NVM_AUTO_USE=true
export skip_global_compinit=true
